body {
    background-color: #84CEEB
}


/* navbar */

nav {
    background-color: #8860D0;
}

.navbar-toggler-icon {
    color: white;
    padding-left: 20px;
    font-size: 200%
}

.navbar-brand {
    color: white
}

.navbar-nav {
    list-style-type: none;
}

a {
    color: white;
    padding: 10px
}

a:hover {
    color: gold;
    text-decoration: none;
}